{
  "openapi": "3.0.3",
  "info": {
    "title": "Astrada API",
    "version": "2024-02-28",
    "contact": {
      "email": "developer@astrada.co"
    },
    "description": "Welcome to our API Reference. 👋\n"
  },
  "servers": [
    {
      "url": "https://api.astrada.co"
    }
  ],
  "tags": [
    {
      "name": "bin-lookup",
      "description": "BIN Lookup"
    },
    {
      "name": "card-verification",
      "description": "Card Verification"
    },
    {
      "name": "bank-links",
      "description": "Manage bank enrollment links. A bank link represents an invitation for a user to connect their bank account via Plaid."
    },
    {
      "name": "network-bulk-feeds",
      "description": "Network bulk feed resource"
    },
    {
      "name": "subaccounts",
      "description": "Subaccount resource"
    },
    {
      "name": "webhooks",
      "description": "Manage webhooks"
    },
    {
      "name": "bank-accounts",
      "description": "Manage connected bank accounts. Bank accounts are created automatically when a bank link enrollment is completed."
    },
    {
      "name": "enrollment-methods",
      "description": "Enrollment methods resource"
    },
    {
      "name": "bank-subscriptions",
      "description": "Manage bank subscriptions (Plaid connections). A subscription represents an active connection to a financial institution."
    },
    {
      "name": "bank-transactions",
      "description": "Access bank transactions synced from connected accounts. Transactions are ingested via Plaid and can be matched against card transactions."
    },
    {
      "name": "card",
      "description": "Card resource"
    },
    {
      "name": "card-subscription",
      "description": "Card Subscription resource"
    },
    {
      "name": "transaction-messages",
      "description": "Transaction messages resource"
    },
    {
      "name": "transactions",
      "description": "Transaction resource"
    },
    {
      "name": "transaction-matches",
      "description": "Access transaction matches between bank and card transactions, including confidence scores and match reasoning."
    }
  ],
  "paths": {
    "/bin-lookup": {
      "parameters": [
        {
          "$ref": "#/components/parameters/bin-required"
        }
      ],
      "get": {
        "tags": [
          "bin-lookup"
        ],
        "summary": "Lookup card information by BIN",
        "description": "Retrieve card information such as network, type, and issuing bank by providing the card's BIN (Bank Identification Number).",
        "security": [
          {
            "main-auth": [
              "cards:read"
            ]
          }
        ],
        "operationId": "BinLookup",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/bin-lookup"
                },
                "examples": {
                  "Example Bin Lookup Response": {
                    "$ref": "#/components/examples/bin-lookup"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/card-verifications/unlock": {
      "post": {
        "tags": [
          "card-verification"
        ],
        "summary": "Unlock a card's verification attempt lockout",
        "description": "Clear the cross-network verification **attempt lockout** for a card,\nidentified by its `cardId`. This re-enables verification attempts for the\ncard after it has been throttled by too many recent hard failures — the\naccount-scoped, cross-network throttle that protects the non-HIGHEST tiers\n(Visa/Stripe, Mastercard/TNS). Idempotent: unlocking a card that has no\nactive lock succeeds and clears nothing. The HIGHEST per-fingerprint lockout\nis **not** affected by this endpoint.\n",
        "security": [
          {
            "main-auth": [
              "subaccounts:write"
            ]
          }
        ],
        "operationId": "CardVerificationAttemptLockoutUnlock",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cardId"
                ],
                "properties": {
                  "cardId": {
                    "description": "Identifier of the card whose attempt lockout to clear.",
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "examples": {
                "UnlockAttemptLockoutRequestExample": {
                  "value": {
                    "cardId": "00cdba2d-01f0-46bb-b34a-c76d9699e991"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The card's attempt lockout was cleared, or the card had no active lock\n(idempotent).\n",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "unlocked"
                  ],
                  "properties": {
                    "unlocked": {
                      "description": "Always `true` on success.",
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "vaultCardFingerprint": {
                      "description": "The provider-independent vault fingerprint that was cleared.\nPresent only when an active lock existed for the card.\n",
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "UnlockAttemptLockoutResponseExample": {
                    "value": {
                      "unlocked": true,
                      "vaultCardFingerprint": "1f1d2c3b-4a5e-6f70-8192-a3b4c5d6e7f8"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/card-verifications/3ds": {
      "get": {
        "tags": [
          "card-verification"
        ],
        "summary": "List a card's 3DS verifications",
        "description": "List the 3DS verifications for a card, most recent first. Use the optional `state`\nfilter (e.g. `state=failed`) to retrieve only failed verifications — each failed\nverification carries a `failureReason` explaining why it failed. This includes\ncards declined synchronously at creation (the `POST` returned `400`): those\nattempts are persisted as failed verifications with `currentStepId: null`.\n",
        "security": [
          {
            "main-auth": [
              "card-verifications:read"
            ]
          }
        ],
        "operationId": "CardVerificationList",
        "parameters": [
          {
            "$ref": "#/components/parameters/card-id.required"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "description": "Optional filter to retrieve only verifications in the given state.",
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "failed",
                "in-progress"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "_links",
                    "_embedded",
                    "totalItems"
                  ],
                  "properties": {
                    "_links": {
                      "type": "object",
                      "required": [
                        "self"
                      ],
                      "properties": {
                        "self": {
                          "$ref": "#/components/schemas/link"
                        }
                      }
                    },
                    "_embedded": {
                      "type": "object",
                      "required": [
                        "cardVerifications"
                      ],
                      "properties": {
                        "cardVerifications": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/card-verification"
                          }
                        }
                      }
                    },
                    "totalItems": {
                      "type": "integer"
                    }
                  }
                },
                "examples": {
                  "Example list filtered by state=failed": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/card-verifications/3ds?cardId=8309b5f8-d5d8-49bb-9001-38bf1bb0f1e4&state=failed"
                        }
                      },
                      "_embedded": {
                        "cardVerifications": [
                          {
                            "_links": {
                              "self": {
                                "href": "/card-verifications/3ds/9fab1bea-bc1e-4757-bd47-479422e5983b"
                              },
                              "steps": {
                                "href": "/card-verifications/3ds/9fab1bea-bc1e-4757-bd47-479422e5983b/steps"
                              }
                            },
                            "id": "9fab1bea-bc1e-4757-bd47-479422e5983b",
                            "subaccountId": "f297d659-c13d-4219-aeaa-e10a845140a5",
                            "cardId": "8309b5f8-d5d8-49bb-9001-38bf1bb0f1e4",
                            "type": "3DS",
                            "state": "failed",
                            "authenticationFlow": "frictionless",
                            "failureReason": {
                              "category": "authentication_declined",
                              "description": "The card issuer declined the 3-D Secure authentication.",
                              "retryable": true,
                              "code": "05",
                              "providerMessage": "The card issuer declined this authentication attempt."
                            },
                            "createdAt": "2024-01-04T18:53:32.000Z",
                            "updatedAt": "2024-01-04T18:55:12.000Z"
                          }
                        ]
                      },
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/bank-links": {
      "post": {
        "tags": [
          "bank-links"
        ],
        "summary": "Create bank link",
        "description": "Creates a new bank link to initiate a bank enrollment. The response includes a `hostedLink` URL where the user can connect their bank account via Plaid.\n\nThe hosted link expires after 4 hours. If the link expires before the user completes enrollment, retrieve the bank link via `GET /bank-links/{bankLinkId}` to get a refreshed URL.\n\nCreating a bank link with an ID that already exists for the account will return a `409 Conflict` error, unless the existing link has expired.\n",
        "operationId": "CreateBankLink",
        "security": [
          {
            "main-auth": [
              "banking:write"
            ]
          }
        ],
        "requestBody": {
          "description": "Bank link creation request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "A client-provided identifier for the bank link. Must be alphanumeric with hyphens and underscores only.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "pattern": "^[a-zA-Z0-9_-]+$"
                  },
                  "subaccountId": {
                    "description": "The subaccount identifier to associate with this bank link.",
                    "type": "string",
                    "format": "uuid"
                  },
                  "filters": {
                    "type": "object",
                    "description": "Optional per-link narrowing of the account's bank-linking policy. Values may\nonly NARROW what the policy allows — the current system default is\n`accountTypes: [credit]` (credit-card accounts only). Requests widening beyond\nthe policy are rejected with `400`. Account-type enforcement is applied by the\nprovider at link-token creation and also filters the institution-select list.\n",
                    "properties": {
                      "accountTypes": {
                        "type": "array",
                        "minItems": 1,
                        "description": "Account types selectable during this hosted session.",
                        "items": {
                          "type": "string",
                          "enum": [
                            "checking",
                            "savings",
                            "credit"
                          ]
                        }
                      },
                      "linkCustomizationName": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100,
                        "description": "Name of an allowlisted provider (Plaid) Link customization to apply to\nthis hosted session — e.g. `amex_only` to surface an Amex-first\ninstitution list with a tailored headline for card-enrollment\nconnections. Only names on the account's allowlist are accepted; others\nare rejected with `400`. Institution steering is by account-type\nfiltering plus the customization's Dashboard configuration — the\nprovider does not support hard institution pre-selection for hosted\nsessions.\n"
                      }
                    }
                  },
                  "bin6": {
                    "type": "string",
                    "pattern": "^\\d{6}$",
                    "description": "First 6 digits captured client-side before an institution\npivot (e.g. an American Express BIN typed into the card form\nbefore the SDK pivots to bank linking). Persisted with the\nlink and attached to the completion-time bank-derived card\nmint when exactly one card is minted — it becomes that\ncard's `first6digits`.\n"
                  }
                },
                "required": [
                  "id",
                  "subaccountId"
                ]
              },
              "examples": {
                "BankLinkRequestExample": {
                  "value": {
                    "id": "enrollment_abc123",
                    "subaccountId": "50cced63-ee4e-4ff7-a469-aaa989f220f2"
                  }
                },
                "AmexCardEnrollmentExample": {
                  "value": {
                    "id": "enrollment_amex_7f2c",
                    "subaccountId": "50cced63-ee4e-4ff7-a469-aaa989f220f2",
                    "filters": {
                      "accountTypes": [
                        "credit"
                      ],
                      "linkCustomizationName": "amex_only"
                    },
                    "bin6": "371449"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bank-link"
                },
                "examples": {
                  "Example Create Bank Link Response": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/bank-links/enrollment_abc123"
                        }
                      },
                      "id": "enrollment_abc123",
                      "accountId": "8f3a1b2c-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
                      "subaccountId": "50cced63-ee4e-4ff7-a469-aaa989f220f2",
                      "state": "pending",
                      "hostedLink": "https://hosted.plaid.com/link/abc123",
                      "linkExpiresAt": "2025-10-03T14:25:27.000Z",
                      "createdAt": "2025-10-03T10:25:27.069Z"
                    }
                  }
                }
              }
            },
            "links": {
              "GetBankLink": {
                "operationId": "GetBankLink",
                "parameters": {
                  "bankLinkId": "$response.body#/id"
                },
                "description": "Retrieve the created bank link."
              },
              "CompleteBankLink": {
                "operationId": "PatchBankLink",
                "parameters": {
                  "bankLinkId": "$response.body#/id"
                },
                "description": "Complete the bank link enrollment."
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "get": {
        "tags": [
          "bank-links"
        ],
        "summary": "List bank links",
        "description": "Returns a list of bank links under the account.\n\nBy default, `GET /bank-links` returns bank links ordered by the latest `createdAt`.\n\nThis endpoint supports cursor-based pagination.\n",
        "operationId": "ListBankLinks",
        "parameters": [
          {
            "$ref": "#/components/parameters/subaccount-id"
          },
          {
            "$ref": "#/components/parameters/bank-link-state"
          },
          {
            "$ref": "#/components/parameters/banking-limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "security": [
          {
            "main-auth": [
              "banking:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "pagination"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/bank-link"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "required": [
                        "hasMore"
                      ],
                      "properties": {
                        "cursor": {
                          "type": "string",
                          "description": "Cursor to use for the next page of results."
                        },
                        "hasMore": {
                          "type": "boolean",
                          "description": "Whether there are more results available."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example List Bank Links Response": {
                    "value": {
                      "items": [
                        {
                          "_links": {
                            "self": {
                              "href": "/bank-links/enrollment_792dcb7d"
                            },
                            "bankAccounts": [
                              {
                                "href": "/bank-accounts/3a8f2c1d-5e7b-4d9a-b6c8-9f0e1d2a3b4c"
                              }
                            ]
                          },
                          "id": "enrollment_792dcb7d",
                          "accountId": "8f3a1b2c-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
                          "subaccountId": "1fcb895e-9217-4a6f-9d10-5a7dcef86c11",
                          "state": "completed",
                          "hostedLink": null,
                          "linkExpiresAt": null,
                          "completedAt": "2025-10-03T10:55:42.000Z",
                          "bankAccounts": [
                            {
                              "id": "3a8f2c1d-5e7b-4d9a-b6c8-9f0e1d2a3b4c",
                              "name": "Checking"
                            }
                          ],
                          "createdAt": "2025-10-03T10:25:27.069Z"
                        },
                        {
                          "_links": {
                            "self": {
                              "href": "/bank-links/enrollment_a1b2c3d4"
                            }
                          },
                          "id": "enrollment_a1b2c3d4",
                          "accountId": "8f3a1b2c-4d5e-6f7a-8b9c-0d1e2f3a4b5c",
                          "subaccountId": "1fcb895e-9217-4a6f-9d10-5a7dcef86c11",
                          "state": "pending",
                          "hostedLink": "https://hosted.plaid.com/link/abc123",
                          "linkExpiresAt": "2025-10-04T14:25:27.000Z",
                          "createdAt": "2025-10-04T10:25:27.069Z"
                        }
                      ],
                      "pagination": {
                        "cursor": "ZXhhbXBsZQ==",
                        "hasMore": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/network-bulk-feeds": {
      "post": {
        "tags": [
          "network-bulk-feeds"
        ],
        "summary": "Create network bulk feed",
        "description": "Registers a new feed for network bulk",
        "security": [
          {
            "main-auth": [
              "network-bulk-feeds:write"
            ]
          }
        ],
        "operationId": "CreateNetworkBulkFeed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "networkReference": {
                        "description": "The identifier associated with the card network's bulk enrollment feed.\nFor Amex, this field should contain the Recipient ID in the following format 'R{RecipientId}', such as 'R123456'.\nFor Mastercard, this field should contain the Delivery ID.\nFor Visa-VBDS, this field should contain the RPIC in the following format 'RegionId_ProcessorId_IssuerId_CompanyId', such as '123_456_789_1'.\nFor Visa-VCF, this field should contain the PIC in the following format 'ProcessorId_IssuerId_CompanyId', such as '123_45_6789'.\nFor more details on our bulk enrollment process, refer to [this guide](https://docs.astrada.co/docs/network-bulk-enrollment).\n",
                        "type": "string"
                      },
                      "subaccountId": {
                        "description": "The subaccount identifier",
                        "type": "string",
                        "format": "uuid"
                      },
                      "expectedCardCount": {
                        "description": "The expected number of cards that will be enrolled under this bulk feed.\nOptional. When provided, the value is echoed back on the response and on the\n`networkbulkfeed.statechanged` webhook payload.\n",
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 1000000
                      },
                      "newCards": {
                        "description": "Sandbox only. The number of synthetic Visa cards to create when this\nbulk feed is created in the sandbox environment. The cards are drawn\nfrom Astrada's published sandbox Visa test-card pool. Only valid for\n`network: VISA`. Requests containing this field outside the sandbox\nenvironment, or for other networks, are rejected with a 400.\n",
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 20,
                        "default": 5
                      }
                    },
                    "required": [
                      "networkReference",
                      "network",
                      "subaccountId"
                    ]
                  },
                  {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "network": {
                            "description": "The network that the feed belongs",
                            "type": "string",
                            "enum": [
                              "AMEX"
                            ]
                          },
                          "type": {
                            "description": "The type of card network's bulk enrollment feed",
                            "type": "string",
                            "enum": [
                              "GL"
                            ],
                            "default": "GL"
                          }
                        },
                        "required": [
                          "network"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "network": {
                            "description": "The network that the feed belongs",
                            "type": "string",
                            "enum": [
                              "MASTERCARD"
                            ]
                          },
                          "type": {
                            "description": "The type of card network's bulk enrollment feed",
                            "type": "string",
                            "enum": [
                              "SMARTDATA"
                            ],
                            "default": "SMARTDATA"
                          }
                        },
                        "required": [
                          "network"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "network": {
                            "description": "The network that the feed belongs",
                            "type": "string",
                            "enum": [
                              "VISA"
                            ]
                          },
                          "type": {
                            "description": "The type of card network's bulk enrollment feed",
                            "type": "string",
                            "enum": [
                              "VBDS",
                              "VCF"
                            ],
                            "default": "VBDS"
                          }
                        },
                        "required": [
                          "network"
                        ]
                      }
                    ]
                  }
                ]
              },
              "examples": {
                "Create Network Bulk Feed Request Example (Amex)": {
                  "value": {
                    "networkReference": "R123456",
                    "network": "AMEX",
                    "subaccountId": "24c4f90d-ab3b-4f6e-8a1d-d251a4fcf34c"
                  }
                },
                "Create Network Bulk Feed Request Example (Mastercard)": {
                  "value": {
                    "networkReference": "G1234567",
                    "network": "MASTERCARD",
                    "subaccountId": "24c4f90d-ab3b-4f6e-8a1d-d251a4fcf34c"
                  }
                },
                "Create Network Bulk Feed Request Example (Visa)": {
                  "value": {
                    "networkReference": 119999789452,
                    "network": "VISA",
                    "type": "VBDS",
                    "subaccountId": "24c4f90d-ab3b-4f6e-8a1d-d251a4fcf34c"
                  }
                },
                "Create Network Bulk Feed Request Example (Visa, sandbox synthetic cards)": {
                  "value": {
                    "networkReference": 119999789452,
                    "network": "VISA",
                    "type": "VBDS",
                    "subaccountId": "24c4f90d-ab3b-4f6e-8a1d-d251a4fcf34c",
                    "newCards": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/network-bulk-feeds"
                },
                "examples": {
                  "Example Create Network Bulk Feed Response": {
                    "$ref": "#/components/examples/network-bulk-feeds"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/network-reference"
          },
          {
            "$ref": "#/components/parameters/subaccount-id"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "tags": [
          "network-bulk-feeds"
        ],
        "summary": "List network bulk feed",
        "description": "Returns all network bulk feeds under the account.\n\nBy default, `GET /network-bulk-feeds` returns network bulk feeds ordered by the latest `createdAt`.\n\nThis endpoint supports [offset-based pagination](https://docs.astrada.co/reference/pagination).\n",
        "security": [
          {
            "main-auth": [
              "network-bulk-feeds:read"
            ]
          }
        ],
        "operationId": "ListNetworkBulkFeeds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "_links",
                    "_embedded",
                    "totalItems"
                  ],
                  "properties": {
                    "_links": {
                      "type": "object",
                      "required": [
                        "self"
                      ],
                      "properties": {
                        "self": {
                          "$ref": "#/components/schemas/link"
                        },
                        "first": {
                          "$ref": "#/components/schemas/link"
                        },
                        "next": {
                          "$ref": "#/components/schemas/link"
                        },
                        "prev": {
                          "$ref": "#/components/schemas/link"
                        },
                        "last": {
                          "$ref": "#/components/schemas/link"
                        }
                      }
                    },
                    "_embedded": {
                      "type": "object",
                      "required": [
                        "networkBulkFeeds"
                      ],
                      "properties": {
                        "networkBulkFeeds": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/network-bulk-feeds"
                          }
                        }
                      }
                    },
                    "totalItems": {
                      "type": "integer",
                      "description": "Total number of network bulk feeds"
                    }
                  }
                },
                "examples": {
                  "Example List Network Bulk feeds Response": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/network-bulk-feeds"
                        }
                      },
                      "_embedded": {
                        "networkBulkFeeds": [
                          {
                            "_links": {
                              "self": {
                                "href": "/network-bulk-feeds/75ea3c99-6bf5-4b16-8f68-0cdc43d75806"
                              }
                            },
                            "id": "75ea3c99-6bf5-4b16-8f68-0cdc43d75806",
                            "subaccountId": "f297d659-c13d-4219-aeaa-e10a845140a5",
                            "network": "MASTERCARD",
                            "networkReference": "G1234567",
                            "state": "submitted",
                            "type": "SMARTDATA",
                            "createdAt": "2024-12-19T14:45:00Z",
                            "updatedAt": "2024-12-19T14:45:00Z"
                          },
                          {
                            "_links": {
                              "self": {
                                "href": "/network-bulk-feeds/c73f2da7-aa1f-4775-ad38-864b1b6f3162"
                              }
                            },
                            "id": "c73f2da7-aa1f-4775-ad38-864b1b6f3162",
                            "subaccountId": "29cb4277-b812-4137-b008-e0befa8c6a47",
                            "network": "MASTERCARD",
                            "networkReference": "G1234567",
                            "state": "submitted",
                            "type": "SMARTDATA",
                            "createdAt": "2024-10-19T14:45:00Z",
                            "updatedAt": "2024-10-19T14:45:00Z"
                          },
                          {
                            "_links": {
                              "self": {
                                "href": "/network-bulk-feeds/a3b1c2d4-5e6f-7890-abcd-ef1234567890"
                              }
                            },
                            "id": "a3b1c2d4-5e6f-7890-abcd-ef1234567890",
                            "subaccountId": "f297d659-c13d-4219-aeaa-e10a845140a5",
                            "network": "VISA",
                            "networkReference": 119999789452,
                            "state": "failed",
                            "type": "VBDS",
                            "errorReason": "Starter data ingestion failed: invalid RPIC configuration",
                            "createdAt": "2024-12-19T14:45:00Z",
                            "updatedAt": "2024-12-20T10:30:00Z"
                          }
                        ]
                      },
                      "totalItems": 3
                    }
                  },
                  "No network bulk feeds found": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/network-bulk-feeds"
                        }
                      },
                      "_embedded": {
                        "networkBulkFeeds": []
                      },
                      "totalItems": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/subaccounts": {
      "post": {
        "tags": [
          "subaccounts"
        ],
        "summary": "Create subaccount",
        "description": "Creates a new subaccount, allowing you to set network and regional configurations.\n\nEach network's `countries` can be set to either an array of specific ISO 3166 alpha-3 country codes, or the string `\"*\"` to inherit all countries from the parent account's capabilities for that network.\n\nWhen using `\"*\"`, the subaccount will automatically reflect the parent account's current country list. If the parent account's capabilities change, subaccounts configured with `\"*\"` will inherit the updated countries.\n\nThe single and bulk enrollment configurations are not required when creating a subaccount, but if not provided they will default to the same country list as the main `countries` property for that network.\nThe supported card types for single and bulk enrollment is CONSUMER, while the supported funding card types is DEBIT. If not provided, the block rules for both card types will default to the parent account's default block rule for that network and enrollment level.\n\nTo set the default rule on the parent account, please reach out to your account manager or support.\n",
        "operationId": "CreateSubaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the subaccount"
                  },
                  "configurations": {
                    "$ref": "#/components/schemas/create-subaccount-configurations"
                  }
                },
                "required": [
                  "name",
                  "configurations"
                ]
              },
              "examples": {
                "Specific countries": {
                  "value": {
                    "name": "Subaccount A",
                    "configurations": {
                      "VISA": {
                        "countries": [
                          "USA",
                          "CAN"
                        ]
                      },
                      "MASTERCARD": {
                        "countries": [
                          "USA"
                        ]
                      }
                    }
                  }
                },
                "Wildcard countries": {
                  "value": {
                    "name": "Subaccount B",
                    "configurations": {
                      "VISA": {
                        "countries": "*"
                      },
                      "MASTERCARD": {
                        "countries": "*"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "main-auth": [
              "subaccounts:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "New subaccount created successfully",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/subaccount"
                },
                "examples": {
                  "Example Create Subaccount Response": {
                    "$ref": "#/components/examples/subaccount"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "get": {
        "tags": [
          "subaccounts"
        ],
        "summary": "List subaccounts",
        "description": "Returns a list of all subaccounts associated with the account.\n\nThis endpoint supports [cursor-based pagination](https://docs.astrada.co/reference/pagination).\n",
        "operationId": "GetSubaccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "security": [
          {
            "main-auth": [
              "subaccounts:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Subaccounts list retrieved successfully",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "required": [
                        "subaccounts"
                      ],
                      "properties": {
                        "subaccounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/subaccount"
                          }
                        }
                      }
                    },
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "$ref": "#/components/schemas/link"
                        },
                        "next": {
                          "$ref": "#/components/schemas/link"
                        }
                      },
                      "required": [
                        "self"
                      ]
                    }
                  },
                  "required": [
                    "_embedded",
                    "_links"
                  ]
                },
                "examples": {
                  "Example List Subaccounts Response": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/subaccounts"
                        }
                      },
                      "_embedded": {
                        "subaccounts": [
                          {
                            "_links": {
                              "self": {
                                "href": "/subaccounts/81e7c267-0927-4234-a2bd-78cef799de54"
                              }
                            },
                            "accountId": "073fe1bb-3350-46ad-b3a6-32afb3780994",
                            "id": "81e7c267-0927-4234-a2bd-78cef799de54",
                            "name": "Subaccount A",
                            "createdAt": "2024-05-01T17:08:43.810Z",
                            "updatedAt": "2024-05-01T17:08:43.810Z",
                            "configurations": {
                              "VISA": {
                                "countries": [
                                  "USA",
                                  "CAN"
                                ],
                                "single-enrollment": {
                                  "countries": [
                                    "USA",
                                    "CAN"
                                  ],
                                  "blockedCardTypes": [
                                    "CONSUMER"
                                  ],
                                  "blockedFundingCardTypes": [
                                    "DEBIT"
                                  ]
                                },
                                "bulk-enrollment": {
                                  "countries": [
                                    "USA",
                                    "CAN"
                                  ],
                                  "blockedCardTypes": [
                                    "CONSUMER"
                                  ],
                                  "blockedFundingCardTypes": [
                                    "DEBIT"
                                  ]
                                }
                              },
                              "MASTERCARD": {
                                "countries": [
                                  "USA"
                                ],
                                "single-enrollment": {
                                  "countries": [
                                    "USA"
                                  ],
                                  "blockedCardTypes": [],
                                  "blockedFundingCardTypes": []
                                },
                                "bulk-enrollment": {
                                  "countries": [
                                    "USA"
                                  ],
                                  "blockedCardTypes": [],
                                  "blockedFundingCardTypes": []
                                }
                              }
                            }
                          },
                          {
                            "_links": {
                              "self": {
                                "href": "/subaccounts/3788493c-49f5-4f5e-9152-56abc2a4e153"
                              }
                            },
                            "accountId": "073fe1bb-3350-46ad-b3a6-32afb3780994",
                            "id": "3788493c-49f5-4f5e-9152-56abc2a4e153",
                            "name": "Subaccount B",
                            "createdAt": "2024-05-01T17:08:43.810Z",
                            "updatedAt": "2024-05-01T17:08:43.810Z",
                            "configurations": {
                              "VISA": {
                                "countries": [
                                  "USA",
                                  "CAN"
                                ],
                                "single-enrollment": {
                                  "countries": [
                                    "USA",
                                    "CAN"
                                  ],
                                  "blockedCardTypes": [],
                                  "blockedFundingCardTypes": [
                                    "DEBIT"
                                  ]
                                },
                                "bulk-enrollment": {
                                  "countries": [
                                    "USA",
                                    "CAN"
                                  ],
                                  "blockedCardTypes": [],
                                  "blockedFundingCardTypes": []
                                }
                              },
                              "MASTERCARD": {
                                "countries": [
                                  "USA"
                                ],
                                "single-enrollment": {
                                  "countries": [
                                    "USA"
                                  ],
                                  "blockedCardTypes": [
                                    "CONSUMER"
                                  ],
                                  "blockedFundingCardTypes": []
                                },
                                "bulk-enrollment": {
                                  "countries": [
                                    "USA"
                                  ],
                                  "blockedCardTypes": [],
                                  "blockedFundingCardTypes": []
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  },
                  "Example no Subaccounts found": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/subaccounts"
                        }
                      },
                      "_embedded": {
                        "subaccounts": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Create webhook",
        "description": "Registers a new webhook for capturing event notifications.",
        "operationId": "createWebhook",
        "security": [
          {
            "main-auth": [
              "webhooks:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "description": {
                    "type": "string"
                  },
                  "eventTypes": {
                    "$ref": "#/components/schemas/webhook-event-types"
                  },
                  "subaccountId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "enabled": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "url",
                  "eventTypes",
                  "subaccountId"
                ]
              },
              "examples": {
                "Card transaction events": {
                  "value": {
                    "url": "https://example-api.com/path",
                    "description": "Example of Webhook description",
                    "eventTypes": [
                      "transactionmessage.created"
                    ],
                    "subaccountId": "f297d659-c13d-4219-aeaa-e10a845140a5"
                  }
                },
                "Bank linking events": {
                  "value": {
                    "url": "https://example-api.com/bank-events",
                    "description": "Bank linking lifecycle and bank-record events",
                    "eventTypes": [
                      "banklink.completed",
                      "bankaccount.state_changed",
                      "banktransaction.created",
                      "transaction.match.created"
                    ],
                    "subaccountId": "f297d659-c13d-4219-aeaa-e10a845140a5"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/webhook"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "secret": {
                          "type": "string",
                          "description": "Only returned on Webhook creation"
                        }
                      },
                      "required": [
                        "secret"
                      ]
                    }
                  ]
                },
                "examples": {
                  "Example Create Webhook Response": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/webhooks/3a45ba7f-8d8f-4f6a-86a5-a17ea0328241"
                        }
                      },
                      "id": "3a45ba7f-8d8f-4f6a-86a5-a17ea0328241",
                      "url": "https://example-api.com/path",
                      "description": "Example of Webhook description",
                      "eventTypes": [
                        "transactionmessage.created"
                      ],
                      "subaccountId": "f297d659-c13d-4219-aeaa-e10a845140a5",
                      "createdAt": "2023-12-19T14:45:00Z",
                      "updatedAt": "2023-12-19T14:45:00Z",
                      "enabled": true,
                      "secret": "ODk4ZDAxYjYtZjM4NC00MzdmLWEzMDMtM2M0NjA1NWY5NTQ5"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/subaccount-id"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          }
        ],
        "tags": [
          "webhooks"
        ],
        "summary": "List webhooks",
        "description": "Returns all webhooks configured under the account, optionally filtered by subaccount, including details on the events each webhook is subscribed to.\n\nThis endpoint supports [cursor-based pagination](https://docs.astrada.co/reference/pagination).\n",
        "operationId": "listWebhooks",
        "security": [
          {
            "main-auth": [
              "webhooks:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "description": "Astrada's Webhook resources.",
                  "required": [
                    "_links",
                    "_embedded"
                  ],
                  "properties": {
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "$ref": "#/components/schemas/link"
                        },
                        "next": {
                          "$ref": "#/components/schemas/link"
                        }
                      }
                    },
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/webhook"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example List Webhooks Response": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/webhooks"
                        }
                      },
                      "_embedded": {
                        "webhooks": [
                          {
                            "_links": {
                              "self": {
                                "href": "/webhooks/3a45ba7f-8d8f-4f6a-86a5-a17ea0328241"
                              }
                            },
                            "id": "3a45ba7f-8d8f-4f6a-86a5-a17ea0328241",
                            "url": "https://example-api.com/path",
                            "description": "Example of Webhook description",
                            "eventTypes": [
                              "transactionmessage.created"
                            ],
                            "subaccountId": "f297d659-c13d-4219-aeaa-e10a845140a5",
                            "createdAt": "2023-12-19T14:45:00Z",
                            "updatedAt": "2023-12-19T14:45:00Z",
                            "enabled": true
                          },
                          {
                            "_links": {
                              "self": {
                                "href": "/webhooks/627f9c6d-ec9f-4118-84f3-97a77f447e32"
                              }
                            },
                            "id": "627f9c6d-ec9f-4118-84f3-97a77f447e32",
                            "url": "https://example-api.com/path",
                            "description": "Example of Webhook description",
                            "eventTypes": [
                              "transactionmessage.created"
                            ],
                            "subaccountId": "f297d659-c13d-4219-aeaa-e10a845140a5",
                            "createdAt": "2023-12-19T14:46:00Z",
                            "updatedAt": "2023-12-19T14:46:00Z",
                            "enabled": true
                          }
                        ]
                      }
                    }
                  },
                  "Example no Webhooks found": {
                    "value": {
                      "_links": {
                        "self": {
                          "href": "/webhooks"
                        }
                      },
                      "_embedded": {
                        "webhooks": []
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/bank-accounts/{bankAccountId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/bank-account-id"
        }
      ],
      "delete": {
        "tags": [
          "bank-accounts"
        ],
        "summary": "Delete bank account",
        "description": "Deletes a bank account and all associated bank transactions and transaction matches.\n\n**Note:** This action is irreversible.\n",
        "operationId": "DeleteBankAccount",
        "security": [
          {
            "main-auth": [
              "banking:admin"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Bank account deleted"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "get": {
        "tags": [
          "bank-accounts"
        ],
        "summary": "Retrieve bank account",
        "description": "Returns detailed information about a specific bank account by its identifier.",
        "operationId": "GetBankAccount",
        "security": [
          {
            "main-auth": [
              "banking:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bank-account"
                },
                "examples": {
                  "Example Get Bank Account Response": {
                    "$ref": "#/components/examples/bank-account"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "patch": {
        "tags": [
          "bank-accounts"
        ],
        "summary": "Update bank account",
        "description": "Updates a bank account. Card links are detected automatically — the first time a card's transactions produce a high-confidence match against this account's feed, the card is linked without any API call. This endpoint is the manual override: use it to pre-link cards before any spend exists, correct an assignment, or import history.\n\nEach card in `cardIds` must belong to the same subaccount as the bank account. A card can only be linked to one bank account at a time — attempting to link a card that is already associated with another bank account will return a `409 Conflict` error.\n\n`cardIds` is a full replacement. Send `cardIds: []` to clear explicit links (automatic detection can re-link a card on its next high-confidence match). Virtual bank accounts declare their cards explicitly and must always have at least one.\n\nOptionally include a `backfill` object with `startDate` and/or `endDate` to trigger a backfill of historical bank transactions for the specified date range. An automatically detected link re-matches the account's already-synced unmatched transactions around the new card's activity on its own; IMPORTING bank history from before the link (pulling older transactions from the provider) still happens only through this endpoint's `backfill`.\n\nThe current card set is always readable at `GET /bank-accounts/{bankAccountId}` (`cardIds`), and `GET /bank-accounts?cardId=` finds the account a card is linked to.\n",
        "operationId": "UpdateBankAccount",
        "security": [
          {
            "main-auth": [
              "banking:write"
            ]
          }
        ],
        "requestBody": {
          "description": "Bank account update request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cardIds"
                ],
                "properties": {
                  "cardIds": {
                    "description": "The identifiers of cards to link to this bank account for transaction matching. Send an empty array to unlink all cards. Each card must belong to the same subaccount.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "backfill": {
                    "description": "Optional backfill configuration to import historical bank transactions for the linked card.",
                    "type": "object",
                    "properties": {
                      "startDate": {
                        "description": "Start date for the backfill range in YYYY-MM-DD format.",
                        "type": "string",
                        "format": "date"
                      },
                      "endDate": {
                        "description": "End date for the backfill range in YYYY-MM-DD format.",
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                }
              },
              "examples": {
                "LinkCardExample": {
                  "value": {
                    "cardIds": [
                      "5dec2c49-0aa5-4683-a317-427eb5d115f3"
                    ]
                  }
                },
                "LinkMultipleCardsExample": {
                  "value": {
                    "cardIds": [
                      "5dec2c49-0aa5-4683-a317-427eb5d115f3",
                      "8abc3d12-1bb6-4912-b421-6e8f2a7c9d0e"
                    ]
                  }
                },
                "LinkCardWithBackfillExample": {
                  "value": {
                    "cardIds": [
                      "5dec2c49-0aa5-4683-a317-427eb5d115f3"
                    ],
                    "backfill": {
                      "startDate": "2025-09-01",
                      "endDate": "2025-10-01"
                    }
                  }
                },
                "UnlinkAllCardsExample": {
                  "value": {
                    "cardIds": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank account updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "cardIds",
                    "state",
                    "updatedAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The bank account identifier."
                    },
                    "cardIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "The linked card identifiers."
                    },
                    "state": {
                      "type": "string",
                      "description": "The current state of the bank account."
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the bank account was last updated."
                    },
                    "backfill": {
                      "type": "object",
                      "description": "Backfill results returned when a backfill was requested.",
                      "properties": {
                        "transactionsProcessed": {
                          "type": "integer",
                          "description": "Number of historical transactions processed."
                        },
                        "matchesFound": {
                          "type": "integer",
                          "description": "Number of matches found during backfill."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Example Update Bank Account Response": {
                    "value": {
                      "id": "3a8f2c1d-5e7b-4d9a-b6c8-9f0e1d2a3b4c",
                      "cardIds": [
                        "5dec2c49-0aa5-4683-a317-427eb5d115f3"
                      ],
                      "state": "active",
                      "updatedAt": "2025-10-03T11:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/bank-links/{bankLinkId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/bank-link-id"
        }
      ],
      "delete": {
        "tags": [
          "bank-links"
        ],
        "summary": "Delete bank link",
        "description": "Deletes a bank link and all associated resources, including the bank subscription, bank accounts, and bank transactions.\n\n**Note:** This action is irreversible and will revoke access to the connected financial institution.\n",
        "operationId": "DeleteBankLink",
        "security": [
          {
            "main-auth": [
              "banking:admin"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Bank link deleted"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "get": {
        "tags": [
          "bank-links"
        ],
        "summary": "Retrieve bank link",
        "description": "Returns detailed information about a specific bank link by its identifier.\n\nIf the bank link is in `pending` state and the hosted link URL has expired, this endpoint will automatically refresh the URL and return the updated link.\n",
        "operationId": "GetBankLink",
        "security": [
          {
            "main-auth": [
              "banking:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bank-link"
                },
                "examples": {
                  "Example Get Bank Link Response": {
                    "$ref": "#/components/examples/bank-link"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "patch": {
        "tags": [
          "bank-links"
        ],
        "summary": "Complete bank link",
        "description": "Completes a bank link enrollment, transitioning it from `pending` to `completed` state. The request body must contain `state: \"completed\"`.\n\nWhen a bank link is completed, the system exchanges the enrollment credentials with the provider, creates a bank subscription (connection), and discovers the associated bank accounts.\n\nThis endpoint is idempotent — completing an already completed bank link returns the existing subscription and accounts.\n",
        "operationId": "PatchBankLink",
        "security": [
          {
            "main-auth": [
              "banking:write"
            ]
          }
        ],
        "requestBody": {
          "description": "Bank link completion request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "state": {
                    "description": "The target state for the bank link. Only `completed` is accepted.",
                    "type": "string",
                    "enum": [
                      "completed"
                    ]
                  }
                },
                "required": [
                  "state"
                ]
              },
              "examples": {
                "BankLinkRequestExample": {
                  "value": {
                    "state": "completed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bank link completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bank-link"
                },
                "examples": {
                  "Example Complete Bank Link Response": {
                    "$ref": "#/components/examples/bank-link"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/webhook-id"
        }
      ],
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Remove a configured webhook by its identifier. Results in the resource being deleted and no longer available.",
        "operationId": "deleteWebhook",
        "security": [
          {
            "main-auth": [
              "webhooks:write"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Retrieve webhook",
        "description": "Returns detailed information about a specific webhook by its identifier, including its configuration and event subscription details.",
        "operationId": "getWebhook",
        "security": [
          {
            "main-auth": [
              "webhooks:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/webhook"
                },
                "examples": {
                  "Example Get Webhook Response": {
                    "$ref": "#/components/examples/webhook"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "patch": {
        "tags": [
          "webhooks"
        ],
        "summary": "Update webhook",
        "description": "Updates the configuration of an existing webhook, allowing changes to the event subscriptions or notification URL.",
        "operationId": "updateWebhook",
        "security": [
          {
            "main-auth": [
              "webhooks:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "description": {
                    "type": "string"
                  },
                  "eventTypes": {
                    "$ref": "#/components/schemas/webhook-event-types"
                  },
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/webhook"
                },
                "examples": {
                  "Example Update Webhook Response": {
                    "$ref": "#/components/examples/webhook"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/enrollment-methods": {
      "post": {
        "tags": [
          "enrollment-methods"
        ],
        "summary": "List the available enrollment methods given a card BIN (BETA)",
        "description": "🚧 **Beta** — This endpoint is in beta. Its results may not be accurate, so don't rely on it as a fully-supported endpoint yet.\n\nList the available enrollment methods given a card BIN.",
        "security": [
          {
            "main-auth": [
              "enrollment-methods:write"
            ]
          }
        ],
        "operationId": "EnrollmentMethods",
        "requestBody": {
          "description": "Enrollment methods payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "bin"
                ],
                "properties": {
                  "bin": {
                    "description": "The card's Bank Identification Number (BIN), consisting of the first 6 to 11 digits of the card number. Providing more digits yields more precise results — for example, two cards that share the same 6-digit BIN may support different enrollment methods. We recommend providing as many digits as available, up to 11.",
                    "type": "string",
                    "pattern": "^\\d{6,11}$"
                  }
                }
              },
              "examples": {
                "EnrollmentGuidanceRequestExample": {
                  "value": {
                    "bin": "42424242"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "availableEnrollmentMethods"
                  ],
                  "properties": {
                    "availableEnrollmentMethods": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "network-bulk",
                          "cardholder-single"
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Success example with card supported by single card enrollment flow": {
                    "value": {
                      "availableEnrollmentMethods": [
                        "cardholder-single"
                      ]
                    }
                  },
                  "Success example with card supported by single card enrollment and network bulk enrollment flows": {
                    "value": {
                      "availableEnrollmentMethods": [
                        "network-bulk",
                        "cardholder-single"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "413": {
            "$ref": "#/components/responses/content-too-large"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/bank-subscriptions/{bankSubscriptionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/bank-subscription-id"
        }
      ],
      "get": {
        "tags": [
          "bank-subscriptions"
        ],
        "summary": "Retrieve bank subscription",
        "description": "Returns detailed information about a specific bank subscription by its identifier, including the connection state and webhook configuration.",
        "operationId": "GetBankSubscription",
        "security": [
          {
            "main-auth": [
              "banking:admin"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bank-subscription"
                },
                "examples": {
                  "Example Get Bank Subscription Response": {
                    "$ref": "#/components/examples/bank-subscription"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/bank-subscriptions/by-connection/{connectionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/connection-id"
        }
      ],
      "get": {
        "tags": [
          "bank-subscriptions"
        ],
        "summary": "Retrieve bank subscription by connection",
        "description": "Returns a bank subscription by its provider connection identifier (e.g. Plaid item ID).\n\nThis is useful when you have the provider's connection ID and need to look up the corresponding subscription.\n",
        "operationId": "GetBankSubscriptionByConnection",
        "security": [
          {
            "main-auth": [
              "banking:admin"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bank-subscription"
                },
                "examples": {
                  "Example Get Bank Subscription By Connection Response": {
                    "$ref": "#/components/examples/bank-subscription"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/bank-transactions/{subaccountId}/{transactionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subaccount-id-2"
        },
        {
          "$ref": "#/components/parameters/transaction-id"
        }
      ],
      "get": {
        "tags": [
          "bank-transactions"
        ],
        "summary": "Retrieve bank transaction",
        "description": "Returns detailed information about a specific bank transaction by its identifier, including match status and transaction metadata.",
        "operationId": "GetBankTransaction",
        "security": [
          {
            "main-auth": [
              "banking:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bank-transaction"
                },
                "examples": {
                  "Example Get Bank Transaction Response": {
                    "$ref": "#/components/examples/bank-transaction"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/cards/{cardId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/card-id-2"
        }
      ],
      "get": {
        "tags": [
          "card"
        ],
        "summary": "Retrieve card",
        "description": "Returns detailed information about a specific card by its identifier.",
        "security": [
          {
            "main-auth": [
              "cards:read"
            ]
          }
        ],
        "operationId": "GetCard",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/card"
                },
                "examples": {
                  "Example Get Card Response": {
                    "$ref": "#/components/examples/card"
                  },
                  "Example Get Card Response with cardholder, available only when card has been bulk enrolled": {
                    "$ref": "#/components/examples/card-with-cardholder"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/cards/{cardId}/cardholder": {
      "parameters": [
        {
          "$ref": "#/components/parameters/card-id-2"
        }
      ],
      "get": {
        "tags": [
          "card"
        ],
        "summary": "Retrieve cardholder information",
        "description": "Returns cardholder information, related to a specific cardId, when it's available.",
        "security": [
          {
            "main-auth": [
              "cardholder:read"
            ]
          }
        ],
        "operationId": "GetCardholder",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/cardholder"
                },
                "examples": {
                  "Example Get Cardholder Response": {
                    "$ref": "#/components/examples/cardholder"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      },
      "patch": {
        "tags": [
          "card"
        ],
        "summary": "Update cardholder information",
        "description": "Updates cardholder information for a specific card. Use this endpoint to simulate cardholder data that would typically be received through a Network Bulk Feed. This is useful for testing your integration against bulk-enrolled cards without waiting for actual network feed data.\n\n**Note:** This endpoint requires the `cardholder:write` scope and must be directly enabled by Astrada.\n",
        "security": [
          {
            "main-auth": [
              "cardholder:write"
            ]
          }
        ],
        "operationId": "UpdateCardholder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "minProperties": 1,
                "required": [
                  "subaccountId"
                ],
                "properties": {
                  "subaccountId": {
                    "description": "The unique identifier of the subaccount related to the card",
                    "type": "string",
                    "format": "uuid"
                  },
                  "firstName": {
                    "description": "The first name of the cardholder",
                    "type": "string"
                  },
                  "lastName": {
                    "description": "The last name of the cardholder",
                    "type": "string"
                  },
                  "email": {
                    "description": "Cardholder email address",
                    "type": "string",
                    "format": "email"
                  },
                  "postalCode": {
                    "description": "Cardholder postal code. Format varies by country; no validation or normalization is applied.",
                    "type": "string"
                  },
                  "corporate": {
                    "description": "The corporate entity that this cardholder is associated with",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "The identifier of the corporate",
                        "type": "string"
                      },
                      "employeeId": {
                        "description": "The unique identifier of the employee",
                        "type": "string"
                      },
                      "alternativeEmployeeId": {
                        "description": "An alternative employee identifier, typically configured for specific enterprise integrations.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/cardholder"
                },
                "examples": {
                  "Example Update Cardholder Response": {
                    "$ref": "#/components/examples/cardholder"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
      }
    },
    "/card-subscriptions/{subscriptionId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/subscription-id"
        }
      ],
      "get": {
        "tags": [
          "card-subscription"
        ],
        "summary": "Retrieve card subscription",
        "description": "Returns detailed information about a specific card subscription by its identifier, including its data-sharing state.",
        "security": [
          {
            "main-auth": [
              "card-subscriptions:read"
            ]
          }
        ],
        "operationId": "GetCardSubscription",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/card-subscription"
                },
                "examples": {
                  "Example Get Card Subscription Response": {
                    "$ref": "#/components/examples/card-subscription"
                  },
                  "Example Get Card Subscription Response with Network Bulk Feed": {
                    "$ref": "#/components/examples/card-subscription-with-network-bulk-feed-reference"
                  },
                  "Example Get Card Subscription Response with Bank Feed": {
                    "$ref": "#/components/examples/card-subscription-with-bank-feed"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/server-error"
          }
        }
[...]
